.actividades {
  background: url(../images/fondo_actividades.jpg);
  background-repeat: repeat;
  background-size: contain;
  min-height: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  color: white;
}
.actividades__contenido {
  width: 95%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 20px;

  @include tablet {
    width: 85%;
  }

  @include desktop {
    width: 70%;
  }
  @include large {
    width: 60%;
  }
}

.actividades__section {
  background: rgb(0, 0, 0, 0.9);
  border: none;
  border-radius: 20px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  margin: 20px auto;
  width: 98%;
}

.actividades__figure {
  width: 98%;
  margin: 20px auto;
  padding-top: 15px;
  padding-bottom: 15px;

  @include tablet {
    width: 85%;
  }

  @include desktop {
    width: 70%;
  }
}

.actividades__image {
  width: 100%;
}

.actividades__info {
  text-align: justify;
}
.cosplay {
  display: inline-block;
  text-align: left;
}
.cosplay__base {
  padding-bottom: 10px;
  padding-top: 10px;
}
