.concurso {
  background: url(../images/fondo_concurso.jpg) no-repeat center;
  background-size: cover;
  min-height: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  color: white;
}

.contenido {
  width: 95%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 20px;

  @include tablet {
    width: 85%;
  }

  @include desktop {
    width: 70%;
  }

  @include large {
    width: 60%;
  }
}

.concurso__plazo {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.form__fieldset {
  background: rgb(0, 0, 0, 0.9);
  border: none;
  border-radius: 20px;
  padding-left: 2%;
  padding-right: 2%;
  color: white;
  margin: 0 auto;
  width: 98%;

  @include tablet {
    width: 90%;
  }
}

.form__obl {
  padding-top: 10px;
}

.form__submit {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.form__button {
  width: 40%;
  border-radius: 10px;
  border: 2px solid white;
}
