.header {
  background-size: cover;
  min-height: 100vh;
}

.navfooter__logolink,
.navfooter__list,
.navfooter__rrss {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
}

.navfooter__list {
  flex-grow: 3;
}

.info {
  background-color: $pink;
  font-size: 1.3rem;
  color: white;
}

.info__col {
  border: 1px solid white;
  align-items: center;
}

.info__icon {
  margin-right: 5px;
}
